git.local, localhost {
    tls internal

    @api path /api /api/*
    handle @api {
        reverse_proxy backend:4000
    }

    @git path_regexp git ^/.+\.git(?:/.*)?$
    handle @git {
        reverse_proxy git-server:80
    }

    handle {
        reverse_proxy frontend:3000
    }
}